.propjectsBlock {
    min-height: 100vh;
    background-color: plum;
}

.propjectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: lightgrey;
}

.propjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}