.mainBlock {
    min-height: 100vh;
    background-color: lightpink;
    display: flex;
    align-items: stretch;
}

.mainContainer {
    justify-content: space-between;
}

.text {
    width: 275px;
    background-color: peachpuff;
}

.photo {
    width: 275px;
    height: 350px;
    background-color: beige;
}