.mainBlock {
    height: 100vh;
    background-color: lightpink;
}

.mainContainer {
    justify-content: space-between;
}

.text {
    width: 300px;
    background-color: beige;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: beige;
}