@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.title {
  margin: 30px 0 50px;
  padding: 0 30px;
  //color: $textColor;
  //font-family: 'Josefin Sans', sans-serif;
  //font-size: 30px;
  //line-height: 1.2;
  @include text($fontFamilyJosefinSans, 30px, 1.2);
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: capitalize;
  text-align: center;
  position: relative;


  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    background: $primaryColor;
    width: 95px;
    height: 1px;
  }

  h2 {
    margin: 0;
  }

}