@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.project {
  width: 275px;
  margin-bottom: 30px;
  /*background-color: azure;*/
  background-color: $bgColorSecond;
  display: flex;
  flex-direction: column;
  align-items: center;

  .picture {
    width: 275px;
    height: 275px;
    /*background-color: gold;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    //&::before {
    //  position: absolute;
    //  content: '';
    //  background-color: black;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  opacity: 0.4;
    //}
  }

  .projectContainer {
    width: 90%;
    padding-bottom: 5%;

    .projectInfo {
      padding: 25px 20px;

      .projectTitle {
        /*background-color: lavender;*/
        /*border: 1px solid;*/

        //font-family: 'Josefin Sans', sans-serif;
        //font-size: 16px;
        //line-height: 1.2;
        //color: $textColor;
        @include text($fontFamilyJosefinSans, 16px, 1.2);

        letter-spacing: 1px;
        margin: 0 0 5px;
      }

      .description {
        /*background-color: lavender;*/
        /*border: 1px solid;*/

        //font-family: 'Poppins', sans-serif;
        //font-size: 12px;
        //line-height: 1.8;
        //color: $textColor;
        @include text($fontFamilyPoppins, 12px, 1.8);

        font-weight: 400;
      }
    }
  }
}


/*.picture::before {*/
/*    position: absolute;*/
/*    content: '';*/
/*    background-color: black;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    opacity: 0.4;*/
/*}*/
