@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.nav {
    //border: 1px solid;

    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;

    a {
        @include text($fontFamilyJosefinSans, 16px, 1.8);
    }
}