@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.remoteBlock {
  min-height: 200px;
  background-color: $bgColorSecond;
  display: flex;
  align-items: stretch;

  .remoteContainer {
    flex-direction: column;
    justify-content: space-between;

    .button {
      margin: 20px;
    }
  }
}