.remoteBlock {
    height: 150px;
    background-color: khaki;
    display: flex;
    align-items: stretch;
}

.remoteContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: lightgrey;
}