.contactsBlock {
    min-height: 40vh;
    background-color: peachpuff;
    display: flex;
    align-items: stretch;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: lightgrey;
}

.form {
    height: 70%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input {
    width: 275px;
}

.textarea {
    width: 275px;
    height: 150px;
}

.button {
    width: 75px;
}
